.*.swp
*.o
*.log
dump.rdb
redis-benchmark
redis-check-aof
redis-check-dump
redis-cli
redis-sentinel
redis-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
*.dSYM
*.opendb
*.db
*.json
*.sqlite
*.ipch
*.testlog
*.manifest
*.sqllite
*.suo
*.sqllite
/.vs/redis-3.0-annotated/v16/TestStore/0/testlog.manifest
/.vs/redis-3.0-annotated/v16/TestStore/0/000.testlog
/.vs/redis-3.0-annotated/v16/TestStore/0
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/f4fb8905e324a646/DB.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/f4fb8905e324a646
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/d690e8e7b1cb539d/OBJECT.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/d690e8e7b1cb539d
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/d03cc080c2790b7b/AE_SELECT.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/d03cc080c2790b7b
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/c746a8387b72d3fc/SDS.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/c746a8387b72d3fc
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/c0313aae2c0fbf09/T_HASH.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/c0313aae2c0fbf09
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/b59ab874b75c73fe/HYPERLOGLOG.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/b59ab874b75c73fe
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/abc932af0340f6a1/DICT.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/abc932af0340f6a1
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/a0ebf9eb54c9b999/REDIS.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/a0ebf9eb54c9b999
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/81d942d3e118665c/AE.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/81d942d3e118665c
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/6a85c6e78a763fbf/ADLIST.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/6a85c6e78a763fbf
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/6950db9719e03e16/T_STRING.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/6950db9719e03e16
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/62c270e7911e929a/SENTINEL.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/62c270e7911e929a
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/50925cebbf5d3936/DICT.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/50925cebbf5d3936
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/40bc485738096b5e/NETWORKING.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/40bc485738096b5e
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/3f0987a374537561/DEBUG.ipch
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/3f0987a374537561
/.vs/redis-3.0-annotated/v16/ipch/AutoPCH/1735f47564289ec2/SORT.ipch
/.vs/redis-3.0-annotated/v16/.suo
